@charset "UTF-8";
/* CSS Document */

*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	}
	
body{
	background:#36a9e0;
	}
	
#container {
position: relative;
width: 280px;
margin: 15% auto 0;
padding: 0;
}

#email {
position: relative;
margin: 40px auto 0;
width: 37px; 
}
	
